*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh; 
    background-image: url(Assets/fundo_dia.jpg);
    background-size: cover;
    background-position: 0 -100px;
} 
html.dark body {
    background-image: url(Assets/fundo_noite);
}
